- const {Link} = require('react-router')
- const ReactDisqusThread = require('react-disqus-thread')
- const {slowScrollTo} = require('../../javascript/utils')
- const Entry = require('./../projectEntries/Entry/Entry')
article.single.project
    .image
        .img-container(style={backgroundImage: "url(" + (this.props.project.image ? this.props.project.image : require("../../images/noimage.png")) + ")"})
        .row
            .to-bottom
                .corners
                    h1= this.props.project.title
    .row.content.white-triange-bottom-border
        .corners
            each entry in this.props.project.entries
                div.entry(key=$index)
                    Entry(translator=this.props.translator, entry=entry)
            p.project-meta.text-center= (this.props.project.startedAt ? this.props.formatDate(this.props.project.startedAt) : '?') + this.props.translator(" to ") + (this.props.project.finishedAt ? this.props.formatDate(this.props.project.finishedAt) : '?')
            .row
                .more-like-this
                    h4=this.props.translator("More like this")
                    ul
                        each tag in this.props.project.tags
                            li(key=tag)
                                Link(to="portfolio/"+tag)=tag
            .row
                .project-navigation
                    Link(to="project/"+this.props.project.predecessor.slug, className="button tiny left")=this.props.translator("Previous project")
                    Link(to="project/"+this.props.project.successor.slug, className="button tiny right")=this.props.translator("Next project")
    .disqus
        .row
            h3 Enjoy comments!
            ReactDisqusThread(shortname="ienze", identifier=this.props.project.slug, title=this.props.project.title, url="http://ienze.me/#/project/"+this.props.project.slug)
    #fnav
        .row.text-center
            Link(to="/portfolio", className="button large")= this.props.translator("More projects")
            Link(to="/about", className="button large")= this.props.translator("Contact")
