- const {Link} = require('react-router')
- const {slowScrollTo} = require('../../javascript/utils')
- const TextEntry = require('./../projectEntries/TextEntry/TextEntry')
- const ImageEntry = require('./../projectEntries/ImageEntry/ImageEntry')
- const FileEntry = require('./../projectEntries/FileEntry/FileEntry')
article.single.project
    .image
        .img-container(style={backgroundImage: "url(" + (this.props.project.image ? this.props.project.image : require("../../images/noimage.png")) + ")"})
        .row
            .to-bottom
                .corners
                    h1= this.props.project.title
    .row.content.white-triange-bottom-border
        .corners
            each entry in this.props.project.entries
                div.entry(key=$index)
                    if entry.type === 'image'
                        ImageEntry(key=$index, translator=this.props.translator, entry=entry)
                    if entry.type === 'text'
                        TextEntry(key=$index, translator=this.props.translator, entry=entry)
                    if entry.type === 'file'
                        FileEntry(key=$index, translator=this.props.translator, entry=entry)
            p.project-meta.text-center= (this.props.project.startedAt ? this.props.formatDate(this.props.project.startedAt) : '?') + this.props.translator(" to ") + (this.props.project.finishedAt ? this.props.formatDate(this.props.project.finishedAt) : '?')
            .row
                .project-navigation
                    Link(to="project/"+this.props.project.predecessor.slug, className="button tiny left")=this.props.translator("Previous project")
                    Link(to="project/"+this.props.project.successor.slug, className="button tiny right")=this.props.translator("Next project")