- const {slowScrollTo} = require('../../javascript/utils')
- const {Link} = require('react-router')
.navigation-wrapper
    .background
        div
        span.mask
        div
    .breadcrumbs-wrapper
        .row
            ul.breadcrumbs
                //-block breadcrumbs
            .passiveSwitch Simple menu

    nav.metroNavigation.passive
        ul
            li.hide-connection
                Link(to='/', onClick=slowScrollTo("#top"))= this.props.translator(this.props.siteSettings.siteTitle)
                         
                ul
                    li
                        Link(to='/about', onClick=slowScrollTo("#top"))= this.props.translator("About")
                                         
                        //- ul                    
                            li.force-l-t
                                Link(to='/', onClick=slowScrollTo("#top"))= this.props.translator("Blog")
                    
                    li
                        Link(to='/portfolio', onClick=slowScrollTo("#top"))= this.props.translator("Portfolio")
                                         
                        ul
                            li
                                Link(to='/portfolio/programming', onClick=slowScrollTo("#top"))= this.props.translator("Programming")

                                ul
                                    li
                                        Link(to='/portfolio/websites', onClick=slowScrollTo("#top"))= this.props.translator("Websites")
                             
                            li.force-l-b
                                Link(to='/portfolio/other', onClick=slowScrollTo("#top"))= this.props.translator("Other")

                                ul
                                    li
                                        Link(to='/portfolio/art', onClick=slowScrollTo("#top"))= this.props.translator("Art")
        .mover