- const {Link} = require('react-router')
.navigation-wrapper
    .background
        div
        span.mask
        div
    .breadcrumbs-wrapper
        .row
            ul.breadcrumbs
                //-block breadcrumbs
            .passiveSwitch Simple menu

    nav.metroNavigation.passive
        ul
            li.hide-connection
                Link(to='/')= this.props.locale(this.props.siteSettings.siteTitle)
                         
                ul
                    li
                        Link(to='/about')= this.props.locale("About")
                                         
                        ul                    
                            li.force-l-t
                                Link(to='/')= this.props.locale("Blog")
                    
                    li
                        Link(to='/portfolio')= this.props.locale("Portfolio")
                                         
                        ul
                            li
                                Link(to='/portfolio/programming')= this.props.locale("Programming")

                                ul
                                    li
                                        Link(to='/portfolio/websites')= this.props.locale("Websites")
                             
                            li.force-l-b
                                Link(to='/portfolio/other')= this.props.locale("Other")

                                ul
                                    li
                                        Link(href='/portfolio/art')= this.props.locale("Art")
        .mover