- const {Link} = require('react-router')
.navigation-wrapper
    .background
        div
        span.mask
        div
    .breadcrumbs-wrapper
        .row
            ul.breadcrumbs
                //-block breadcrumbs
            .passiveSwitch Simple menu

    nav.metroNavigation.passive
        ul
            li.hide-connection
                Link(to='/', className='slowScrollTo', target="#content")= this.props.translator(this.props.siteSettings.siteTitle)
                         
                ul
                    li
                        Link(to='/about', className='slowScrollTo', target="#content")= this.props.translator("About")
                                         
                        //- ul                    
                            li.force-l-t
                                Link(to='/', className='slowScrollTo', target="#content")= this.props.translator("Blog")
                    
                    li
                        Link(to='/portfolio', className='slowScrollTo', target="#content")= this.props.translator("Portfolio")
                                         
                        ul
                            li
                                Link(to='/portfolio/programming', className='slowScrollTo', target="#content")= this.props.translator("Programming")

                                ul
                                    li
                                        Link(to='/portfolio/websites', className='slowScrollTo', target="#content")= this.props.translator("Websites")
                             
                            li.force-l-b
                                Link(to='/portfolio/other', className='slowScrollTo', target="#content")= this.props.translator("Other")

                                ul
                                    li
                                        Link(to='/portfolio/art', className='slowScrollTo', target="#content")= this.props.translator("Art")
        .mover