- const {slowScrollTo} = require('../../javascript/utils')
- const Menu = require('./../Menu/Menu')
- const Footer = require('./../Footer/Footer')
div.page
    //- a.hide(href="#content") Skip to content
    
    #menu
        Menu(translator=this.props.translator)

    #top.menu-open-container
        a#menu-open.text-center(onClick=slowScrollTo("#menu"))
            span= this.props.translator("Menu")

    #content= this.props.children

    #footer-space
    #footer
        Footer(translator=this.props.translator, changeLocale=this.props.changeLocale)