- const {Link} = require('react-router')
- const TextEntry = require('../components/projectEntries/TextEntry/TextEntry')
- const ImageEntry = require('../components/projectEntries/ImageEntry/ImageEntry')
article.single.project
    .image
        .img-container(style={backgroundImage: "url(" + this.props.project.image + ")"})
        .row
            .to-bottom
                .corners
                    h1= this.props.project.title
    .row.content.white-triange-bottom-border
        .corners
            each entry in this.props.project.entries
                div.entry(key=$index)
                    if entry.type === 'image'
                        ImageEntry(key=$index, entry=entry)
                    if entry.type === 'text'
                        TextEntry(key=$index, entry=entry)
            p.project-meta.text-center= (this.props.project.startedAt ? this.props.formatDate(this.props.project.startedAt) : '?') + this.props.translator(" to ") + (this.props.project.finishedAt ? this.props.formatDate(this.props.project.finishedAt) : '?')
            .row
                .project-navigation
                    Link(to="project/"+this.props.project.predecessor.slug, className="button tiny left slowScrollTo", target="#content")=this.props.translator("Previous project")
                    Link(to="project/"+this.props.project.successor.slug, className="button tiny right slowScrollTo", target="#content")=this.props.translator("Next project")