- const Person = require('../components/Person/Person')
- const {Link} = require('react-router')
div
    #title-screen
        .row.white-triange-bottom-border
            .corners
                .blog-profile.small
                    img.enlarge(src=require('../images/profile_16.png'))
                h1.hide= this.props.locale("About me")
                h2
                    Link(to="/about")= this.props.siteSettings.me.name
                p
                    Link(to="/portfolio/programming") Coder  
                    Link(to="/portfolio/art") Artist  
                    Link(to="/about") Me
    #about-columns
        .row
            .small-12.large-4.columns.corners
                p= this.props.locale("ABOUT_1").replace(/\%/g, this.props.siteAuthorYears)
            .small-12.large-4.columns.corners
                p= this.props.locale("ABOUT_2").replace(/\%/g, this.props.siteAuthorYears - 10)
            .small-12.large-4.columns.corners
                p= this.props.locale("ABOUT_3")
    .row#about-contact
        .small-12.medium-6.medium-centered.columns
            h3= this.props.locale("Contact")
            Person(locale=this.props.locale, person=this.props.siteSettings.me)
  
    #about-pointless-image
        .row
            img(src=require('../images/me.png'), alt=this.props.locale('Just') + ' ' + this.props.siteSettings.siteTitle)