- const TextEntry = require('./../TextEntry/TextEntry')
- const ImageEntry = require('./../ImageEntry/ImageEntry')
- const FileEntry = require('./../FileEntry/FileEntry')
- const VideoEntry = require('./../VideoEntry/VideoEntry')
- const GalleryEntry = require('./../GalleryEntry/GalleryEntry')
- const SandboxEntry = require('./../SandboxEntry/SandboxEntry')
div
    if this.props.entry.type === 'image'
        ImageEntry(translator=this.props.translator, entry=this.props.entry)
    if this.props.entry.type === 'text'
        TextEntry(translator=this.props.translator, entry=this.props.entry)
    if this.props.entry.type === 'file'
        FileEntry(translator=this.props.translator, entry=this.props.entry)
    if this.props.entry.type === 'video'
        VideoEntry(translator=this.props.translator, entry=this.props.entry)
    if this.props.entry.type === 'gallery'
        GalleryEntry(translator=this.props.translator, entry=this.props.entry)
    if this.props.entry.type === 'sandbox'
        SandboxEntry(translator=this.props.translator, entry=this.props.entry)
