- const {Link} = require('react-router')
- const {slowScrollTo} = require('../../javascript/utils')
- const Gallery16 = require('./../Gallery16/Gallery16')
- const PortfolioItem = require('./../PortfolioItem/PortfolioItem')
div
    #title-screen
        .row.white-triange-bottom-border
            .corners
                h1
                    span= this.props.siteSettings.siteTitle
                h2
                    Link(to="/about") Dominik Gmiterko
                p
                    Link(to="/portfolio/programming") Coder
                    Link(to="/portfolio/art") Artist
                    Link(to="/about") Me

    Gallery16(itemType=PortfolioItem, items=this.props.projects)
    #fnav
        .row.text-center
            Link(to="/portfolio", className="button large")= this.props.translator("More projects")
            Link(to="/about", className="button large")= this.props.translator("Contact")
